.center{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.center .avaliacao{
    background-color: #7c879813;
    margin-top: 30px;
    padding: 7px 15px;
    border-radius: 40px;
}

.center .avaliacao p{
    font-size: 1.5rem;
    color: #fb7413;
}

.center h2{
    font-size: 2.7rem;
    font-weight: 400;
    margin-top: 28px;
}

.center .agradecimentos{
    font-size: 1.4rem;
    color: #959eac;
    text-align: center;
    line-height: 22px;
    margin-top: 10px;
}